<!-- can only include one model per view, so thats we need the multi-model -->
@model MvcPCHR.Models.AccountDetailsViewModel

@{
    // 
    //ViewData["Title"] = "Account_Details";
    ViewBag.Title = "Account Details";
}

<h1>Account Details</h1>
<hr />


@using (Html.BeginForm("Account_Details", "Account", FormMethod.Post))
{
    <div class="container">
        <div class="row">

            <div class="col">
                <h4 class="text-start">Login Details</h4>
                <hr />
                @Html.LabelFor(model => model.Patient.Username)
                @Html.TextBoxFor(model => model.Patient.Username, new { @class = "form-control" })
                <span asp-validation-for="Patient.Username" class="text-danger"></span>

                <div class ="form-group mt-3">
                    @Html.LabelFor(model => model.Patient.Password)
                    @Html.TextBoxFor(model => model.Patient.Password, new { @class = "form-control", @type= "password" })
                    <span asp-validation-for="Patient.Password" class="text-danger"></span>
                </div>
                  

                <h4 class="text-start mt-3">Personal Details</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.Patient.PatientId)
                    @Html.TextBoxFor(model => model.Patient.PatientId, new { @class = "form-control" })
                    <span asp-validation-for="Patient.PatientId" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    @Html.LabelFor(model => model.Patient.LastName)
                    @Html.TextBoxFor(model => model.Patient.LastName, new { @class = "form-control" })
                    <span asp-validation-for="Patient.LastName" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    @Html.LabelFor(model => model.Patient.FirstName)
                    @Html.TextBoxFor(model => model.Patient.FirstName, new { @class = "form-control" })
                    <span asp-validation-for="Patient.FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <h4 class="text-start">Primary Care Provider Details</h4>
                <hr />
                @Html.LabelFor(model => model.PrimaryCare.PrimaryId)
                @Html.TextBoxFor(model => model.PrimaryCare.PrimaryId, new { @class = "form-control"})
                <span asp-validation-for="PrimaryCare.PrimaryId" class="text-danger"></span>
            </div>
            <div class="col">
                <h4 class="text-start">Login Details</h4>
                <hr />
            </div>
             
        </div>
    </div>
}

        

 
